src/test/resources/smorgasbord/attributes.ent

<!ELEMENT attributes (string, tokenized)>
<!ELEMENT string EMPTY>
<!ATTLIST string text CDATA #IMPLIED>

<!ELEMENT tokenized (id, tokens)>

<!ELEMENT id EMPTY>
<!ATTLIST id id ID #REQUIRED>

<!ELEMENT tokens (one, two, ref, refs)>

<!ENTITY % this 'INCLUDE'>
<!ENTITY % not-this 'IGNORE'>

<!ELEMENT idref EMPTY>
<!ELEMENT one EMPTY>
<![%this;[
<!ATTLIST one
          id ID #REQUIRED
          type NMTOKEN #IMPLIED>
]]>
<![%not-this;[
<!ATTLIST one
          bad-id ID #REQUIRED
          bad-type NMTOKEN #IMPLIED>
]]>

<!ELEMENT two EMPTY>
<!ATTLIST two
          id ID #REQUIRED
          types NMTOKENS #IMPLIED>

<!ELEMENT ref EMPTY>
<!ATTLIST ref href IDREF #REQUIRED>

<!ELEMENT refs EMPTY>
<!ATTLIST refs
          refs IDREFS #REQUIRED>

